<!DOCTYPE html>
<html>
  <head>
    <title>Zanby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <% if current_user %>
    <div class="navbar navbar-expand-lg navbar-light">
      <ul class="navbar-nav d-flex">
        <li class="p-2">Zanby</li>
        <li class="p-2">Records</li>
        <li class="p-2">Inventory</li>
        <li class="p-2"><%= button_to "Logout", session_url, { method: :delete } %></li>
      </ul>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>

  <footer class="page-footer">
    <div class="footer-copyright text-center">© 2019 Copyright:
      <a href="https://traciechang.io">Zanby.com</a>
    </div>
  </footer>
</html>